# Binaries for programs and plugins
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

coverage.html

coverage.json

bsrouter/build
bsrouter/bsrouter.key
bsrouter/bsrouter.pem
test.log
*.log
t.json
bsrouter/bsrouter
bsconsole/bsconsole
*.exe
bsconsole/bs-*
temp.json
.DS_Store
certs/server.key
certs/server.csr
certs/server.crt
certs/rootCA.srl
certs/rootCA.key
certs/rootCA.crt
certs/csr.conf
certs/cert.conf
target
router/tests/tests
test/test
test/test
certs/certs
