.app-basic-table{
    margin-top: 8px;
}
.app-basic-table tr{
    height: 36px;
}
.app-basic-label{
    font-size: 15px;
    width: 120px;
    text-align: right;
    padding-right: 8px;
}

.app-basic-text{
    height: 22px;
}

.app-basic-file{
    height: 22px;
    font-size: 12px;
    width: 300px;
}

.app-basic-web-text{
    vertical-align: middle;
    height: 22px;
    width: 70px;
}

.app-basic-save{
    float: right;
    margin-right: 80px;
}