<div>
  <table class="app-basic-table">
    <tr>
      <td class="app-basic-label">Name</td>
      <td class="app-basic-value">
        <input class="app-basic-text" type="text" placeholder="name" [(ngModel)]="conf.name">
      </td>
    </tr>
    <tr>
      <td class="app-basic-label">Listen</td>
      <td class="app-basic-value">
        <input class="app-basic-text" type="text" placeholder=":2023" [(ngModel)]="conf.listen">
      </td>
    </tr>
    <tr>
      <td class="app-basic-label">Key</td>
      <td class="app-basic-value">
        <input class="app-basic-file" type="text" placeholder="key file" [(ngModel)]="conf.key">
      </td>
    </tr>
    <tr>
      <td class="app-basic-label">Cert</td>
      <td class="app-basic-value">
        <input class="app-basic-file" type="text" placeholder="cert file" [(ngModel)]="conf.cert">
      </td>
    </tr>
    <tr>
      <td class="app-basic-label">Web</td>
      <td class="app-basic-value">
        <input class="app-basic-web-text" type="text" placeholder=":2024" [(ngModel)]="conf.web.listen">&nbsp;
        <input class="app-basic-web-text" type="text" placeholder="suffix" [(ngModel)]="conf.web.suffix">&nbsp;
        <input class="app-basic-web-text" type="text" placeholder="auth" [(ngModel)]="conf.web.auth">&nbsp;
      </td>
    </tr>
    <tr>
      <td class="app-basic-label">Socks5</td>
      <td class="app-basic-value">
        <input class="app-basic-text" type="text" placeholder=":1081" [(ngModel)]="conf.socks5">
      </td>
    </tr>
    <tr>
      <td class="app-basic-label">RDP</td>
      <td class="app-basic-value">
        <input class="app-basic-text" type="text" placeholder="~/Desktop" [(ngModel)]="conf.rdp_dir">
      </td>
    </tr>
    <tr>
      <td class="app-basic-label">VNC</td>
      <td class="app-basic-value">
        <input class="app-basic-text" type="text" placeholder="~/Desktop" [(ngModel)]="conf.vnc_dir">
      </td>
    </tr>
    <tr>
      <td class="app-basic-label">Showlog</td>
      <td class="app-basic-value">
        <input type="checkbox" [(ngModel)]="conf.showlog">
      </td>
    </tr>
    <tr>
      <td class="app-basic-label">Log Flags</td>
      <td class="app-basic-value">
        <select [(ngModel)]="conf.logflags">
          <option>0</option>
          <option>1</option>
          <option>2</option>
          <option>4</option>
          <option>8</option>
          <option>16</option>
        </select>
      </td>
    </tr>
  </table>
  <div>
    <div class="app-basic-save">
      <span [hidden]="!message">{{message}}</span>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-secondary" (click)="reload()">Reload</button>
      &nbsp;&nbsp;
      <button type="button" class="btn btn-info" (click)="save()">Save</button>
    </div>
  </div>
</div>