.nav-tabs{
    font-size: 16px;
}
.nav-link{
    padding: 5px;
}

.nav-status{
    height: 32px;
    margin-left: 16px;
}
.nav-status-icon{
    width: 20px;
    height: 20px;
    vertical-align: middle;
    display: inline-block;
}
.nav-stopped{
    background-image: url(assets/status_stopped.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.nav-pending{
    background-image: url(assets/status_pending.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.nav-running{
    background-image: url(assets/status_running.png);
    background-repeat: no-repeat;
    background-size: 20px 20px;
}
.nav-status-action{
    vertical-align: middle;
    font-size: 11px;
}