.channels-table{
    font-size: 14px;
    margin-top: 1px;
}

.channels-enable{
    width: 10% !important;
}

.channels-remote{
    width: 90% !important;
}

.channels-editing input{
    width: 100%;
}

.channels-red{
    background-color: rgb(219, 148, 148);
}