[Unit]
Description=bsrouter service
After=network.target

[Service]
User=bsrouter
Restart=always
WorkingDirectory=/home/bsrouter
ExecStart=/bin/bash --login -c /usr/local/bin/bsrouter
EnvironmentFile=/etc/bsrouter/bsrouter.env

[Install]
WantedBy=multi-user.target