[Unit]
Description=bsrouter service
After=network.target

[Service]
User=bsrouter
Restart=always
WorkingDirectory=/home/bsrouter
ExecStart=/usr/local/bin/bsrouter

[Install]
WantedBy=multi-user.target