<div class="forwards-container">
  <table class="table table-bordered forwards-table">
    <tr>
      <th class="forwards-protocol">Protocol</th>
      <th class="forwards-col1">Name</th>
      <th class="forwards-col2">Username</th>
      <th class="forwards-col2">Password</th>
      <th class="forwards-col1">Address</th>
      <th>Router</th>
      <th>Action</th>
    </tr>
    <tr *ngFor="let f of allForwards">
      <td class="forwards-protocol">{{f.protocol}}</td>
      <td class="forwards-col1">{{f.name}}</td>
      <td class="forwards-col2">{{f.username}}</td>
      <td class="forwards-col2">{{f.password?"***":""}}</td>
      <td class="forwards-col1">{{f.address}}</td>
      <td class="forwards-router">{{f.router}}</td>
      <td>
        <a href="#" (click)="remove(f)">Remove</a>
        &nbsp;
        &nbsp;
        <a href="#" *ngIf="f.protocol=='rdp'||f.protocol=='vnc'" (click)="open(f)">Open</a>
        <a href="#" *ngIf="f.protocol=='tcp'">SSH</a>
      </td>
    </tr>
    <tr>
      <td class="forwards-protocol" [class.forward-red]="showError&&!forward.protocol">
        <select [(ngModel)]="forward.protocol">
          <option>ws</option>
          <option>web</option>
          <option>tcp</option>
          <option>socks</option>
          <option>rdp</option>
          <option>vnc</option>
        </select>
      </td>
      <td class="forwards-col1" [class.forward-red]="showError&&!forward.name"><input type="text" [(ngModel)]="forward.name"
          placeholder="name"></td>
      <td class="forwards-col2"><input type="text" [disabled]="forward.protocol!='rdp'" [(ngModel)]="forward.username"
          placeholder="username"></td>
      <td class="forwards-col2"><input type="text" [disabled]="forward.protocol!='vnc'" [(ngModel)]="forward.password"
          placeholder="password"></td>
      <td class="forwards-col1"><input type="text" [disabled]="forward.protocol=='web' || forward.protocol=='ws'"
          [(ngModel)]="forward.address" placeholder="address"></td>
      <td [class.forward-red]="showError&&!forward.router"><input type="text" [(ngModel)]="forward.router" placeholder="router"></td>
      <td>
        <a href="#" (click)="add()">Add</a>
      </td>
    </tr>
  </table>
</div>