
.app-header {
    -webkit-user-select: none;
    -webkit-app-region: drag;
}
.app-header button {
    -webkit-app-region: no-drag;
}

.app-title{
    margin: 0px 0px 0px 6px;
    display: inline-block;
    font-size: 24px;
    padding: 0px;
}

.app-tool-right{
    float: right;
}

.app-tool-close{
    width: 30px;
    height: 30px;
}

.app-tool-close:focus {
    outline: none;
}