<!--The content below is only a placeholder and can be replaced.-->
<div class="app-header" style="text-align:left">
  <h4 class="app-title">BSRouter Setting </h4>
  <span class="app-tool-right">
    <button type="button" class="close app-tool-close" aria-label="Close" (click)="clickClose($event)">
      <span aria-hidden="true">&times;</span>
    </button>
  </span>
</div>
<app-nav (switch)="doNavSwitch($event)" [activated]="activated"></app-nav>
<app-basic [hidden]="activated!='basic'" [activated]="activated=='basic'"></app-basic>
<app-forwards [hidden]="activated!='forwards'" [activated]="activated=='forwards'"></app-forwards>
<app-channels [hidden]="activated!='channels'" [activated]="activated=='channels'"></app-channels>
<app-log [hidden]="activated!='log'" [activated]="activated=='log'"></app-log>